*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.mainbox{
    width: 80%;
    height: 500px;
    border: 2px solid red;
    margin: auto;
    position: relative;
}
.box1{
    width: 200px;
    height: 200px;
    background: green;
    position: absolute;